# IntelliJ
.idea/
out/
*.iws
*.iml
*.ipr
*.ips

# Eclipse
.settings/
.metadata/
.classpath
.project

# Generated
target/
javadoc/
bin/
log/
classes/

# Misc.
.DS_Store
*.swp
*.swo

# externalized configuration file
cyber.markets.properties

# Gradle
.gradle/
build